body{
    background-image: url(image/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    text-align: right;
}

.nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 18px 0;
    text-align: center;
    padding: 14px 16px;
    font-family: arial;
    font-weight:bold;
}

h2{color: white;
    text-align: center;
    font-family: arial;
    margin: 100px 0 40px 0;
    font-size: 40px;    
}

p{color: white;
    text-align: center;
    margin-bottom: 40px;
    padding: 12px 20px;
}

input[type=submit]{
    background-color: orangered;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;  
    display: block;
    margin: auto;
    width: auto;
    min-width: 50px;
}

.footer{
    margin-top: 80px;
    padding: 30px 0 0 0;
    background-color: orangered;
    text-align: center;
    position: fixed;
    width: 100%;
    
}

.footer h3{color: white;
    text-align: center;
    margin-bottom: 10px;
}